<tr>
  <td style="padding-bottom: 54px; border-bottom: 1px solid #c6c6c6">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <h1
            style="
              margin: 0;
              font-size: 24px;
              line-height: normal;
              font-weight: 700;
              color: #727272;
            "
          >
            September highlights in the monthly Octo Browser digest
          </h1>
        </td>
      </tr>
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img"
                style="border-radius: 6px"
              >
                <img
                  src="https://i.ibb.co/rZ4WwzL/cover-8.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 6px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Update 1.10
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Selecting the OS version and macOS architecture, restoring
            previously deleted profiles and other new features of this update
            in our article. 
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #1890ff;
            "
          >
            <span style="padding-right: 12px">More about 1.10</span>
            <img
              src="https://i.ibb.co/B4Pskn2/arrow-pic-8.png"
              alt="#"
              width="23"
              alt="#"
              border="0"
              style="vertical-align: middle"
            />
          </a>
        </td>
      </tr>
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img"
                style="border-radius: 6px"
              >
                <img
                  src="https://i.ibb.co/CnV5v29/image-8-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 6px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Diving into web scraping:
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            what it is and how this tool can benefit your business.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #1890ff;
            "
          >
            <span style="padding-right: 12px">More about web scraping</span>
            <img
              src="https://i.ibb.co/B4Pskn2/arrow-pic-8.png"
              alt="#"
              width="23"
              alt="#"
              border="0"
              style="vertical-align: middle"
            />
          </a>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Octium Update.
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Browser kernel updated to Chromium 117.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 14px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            ⚠️ With the release of Octium 117, Octo Browser stops supporting
            macOS 10.13 and macOS 10.14. If you still use these macOS versions,
            we strongly recommend updating your OS.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Not a day without Q&A?
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            with support-team! Join our
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="text-decoration: underline; color: #727272"
              >telegram community </a
            >to read.
          </p>
        </td>
      </tr>

      <!-- End Text section -->
    </table>
  </td>
</tr>
